html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;;
    font-weight: normal;
    color: #002335;
    line-height: 2.25em;
}

.container {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;      
}



/* HERO IMAGE */
header.heroImage {
    width: 100%;
    height: 70vh;
    background: url(./images/herroImage.jpg) no-repeat 50% 50%;
    background-size: cover;
}
/* END OF HERO IMAGE*/



/* START OF NAV *//* START OF NAV *//* START OF NAV *//* START OF NAV *//* START OF NAV *//* START OF NAV *//* START OF NAV *//* START OF NAV */
nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    background-color: white;
    overflow: auto;  
    z-index: 1;
    top: 0;
}
.fixedNav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    background-color: white;
    overflow: auto;  
    z-index: 1;
}

/* .logo img{ 
    position: fixed;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    width: 60px;
      
} */
.windmill {
    position: fixed;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    width:60px;
    height:auto; 

}

.logoText{
    position: fixed;
    width: 280px;
    margin-left: 100px;
    height: auto;
}



nav ul {
    line-height: 60px;
    list-style: none;
    overflow: hidden;
    color: black;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 2s;
    font-weight: 700;
}

nav ul li {
    display: inline-block;
    padding: 4px 10px; 
}

nav ul li a {
    text-decoration: none;
    color: #002335;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
}

a.active {
    font-weight: bold;
    text-decoration: underline;
}

.menu-icon {
    width: 100%;
    background:white;
    text-align: right;
    box-sizing: border-box;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: black;
    display: none;
    padding-top:20px;   
}
a.navLink {
    position: relative;
}

a.navLink:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #a51521;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a.navLink:hover:before {
    visibility: visible;
  transform: scaleX(1);
}


/*NAV ON SCROLL */
nav.white {
    background: white;
    opacity: .9;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3)
}
/* NAV ON SCROLL ENDS*/


/* NAV BUTTON HOVERS */
.windmill:hover {
    transform: rotate(20deg);    
}

nav ul li a:hover {
    color: #a51521;
    text-decoration: none;
}

.menu-icon:hover {
    color: #a51521;
}
/* END OF NAV BUTTON HOVERS */


/* END OF NAV *//* END OF NAV *//* END OF NAV *//* END OF NAV *//* END OF NAV *//* END OF NAV *//* END OF NAV *//* END OF NAV *//* END OF NAV */



/* HOME MAIN ALTERNATING BLOCKS */

.homeHeader {
    font-size: 30px;
    color: #a51521;
    font-family:'Poller One', sans-serif;
    text-transform:uppercase;
    margin-bottom:15px;
}

.homeText {
    font-size: 20px;
}
/* ALTERNATING IMAGES */
.homeImgages {
    max-width:100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 60px; 
    margin-bottom: 20px;   
}
a.btn {
    color: #00669e;
    border:2px solid #00669e;
    border-radius:4px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: .375rem 1.75rem;
    background: linear-gradient(to right, #004568 50%, white 50%);
    background-size: 220% 100%;
    background-position: right bottom;
    transition: all .6s ease-out;
}

a.btn:hover {
    color: #fafafa;
    border:2px solid #004568;  
    background-position: left bottom; 
}



/* END OF HOME MAIN ALTERNATING BLOCKS */



/* Homepage Services */

.columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: square;
    
    
  }


/*FOOTER *//*FOOTER *//*FOOTER *//*FOOTER *//*FOOTER *//*FOOTER *//*FOOTER *//*FOOTER *//*FOOTER *//*FOOTER *//*FOOTER *//*FOOTER */
footer {
    margin-top: 60px;
    background: #002335;
}

footer .container {
    margin: 4em auto 0 auto;
    padding: 30px 0;
}

.footerText {
    font-size: 16px;
    justify-content:center !important;
}


.left {
    
}


.textLogo {
    padding-left: 20px;
    color: #fafafa;
}

.middle {
    padding-top: 10px;
}


.right {
    padding-top: 10px;
}
.footerLinks {
    color: #fafafa; 
    
}
a.footerLinks {
    position: relative;
}
a.footerLinks:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fafafa;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
a.footerLinks:hover:before {
    visibility: visible;
    width: 100%;
    
}
.footerLinks:hover {
    color: #fafafa;
    text-decoration: none;
}
.fa-facebook-f:hover {
    color: #fafafa !important;
}
ul.right {
    padding-inline-start: 0 !important;
}



/* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE *//* SERVICE PAGE */

.whatWeDo {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.howItWorks {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.serviceColumns {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-type: square;
    color: green;
    margin-left: 76px;
  }

.serviceHeader {
    font-size: 34px;
    color: blue;
    
}

.serviceText {
    color: red;
}



/* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES */

@media(max-width:990px) {
    nav ul li a {
        font-size: 14px;
    }
    .footerText { 
        font-size: 16px;
        justify-content:normal !important;
    }
    
    .homeImgages {
        display: none;
    }
  
    
    .left {
        width:100%;
    }

    .serviceBtn {
        text-align: center;
    }
    .whoBtn {
        text-align: center;
        
    }
    .whoBtn a{
        width: 70%;
    }

    .serviceBtn a{
        width:70%
    }
}
@media(max-width: 800px) {
    
    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: white;
          
    }

    nav.black ul {
          background: white;
    }

    .showing {
          max-height: 18em;
          
          
          
    }
    
    nav ul li a {
        color: black;
        
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          color: white;
          text-align: center;
    }

    .menu-icon {
          display: block;
          color: black;
          
          
    }

    .whoBtn a{
        width: 80%;
    }

    .serviceBtn a{
        width:80%
    }
   

    .footerText {
        font-size:14px;
    }
    .footerText .col-sm-6 {
       width:50% !important; 
    }
    /* ul.middle {
        padding-inline-start: 0 !important;
    } */

}