html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}
/* HERO IMAGE */
header {
    width: 100%;
    height: 90vh;
    background: url(herroImage.jpg) no-repeat 50% 50%;
    background-size: cover;
}
/* END OF HERO IMAGE*/



.container {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    
    text-align: justify;
}


/* START OF NAV */
.logo img { 
    position: fixed;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    width:250px;
    height:auto;
    
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    background-color: white;
    overflow: auto;  
    z-index: 1;
}

nav ul {
    line-height: 60px;
    list-style: none;
    overflow: hidden;
    color: black;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 2s;
    font-weight: 700;
    
}



/*NAV ON SCROLL */
nav.white {
    background: white;
    opacity: .8;
    
    
}
 nav .logo.green {
    background-color: black;
}

/* nav ul li a.black {
    color:black;
    
    
} */

/* NAV ON SCROLL ENDS*/

nav ul li {
    display: inline-block;
    padding: 4px 10px;
    
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
     
    
}
/* NAV BUTTON HOVERS */
nav ul li a:hover {
   
    color: darkred;
    text-decoration: none;
}

.menu-icon:hover {
    color: darkred;
}

.menu-icon {
    
    width: 100%;
    background:white;
    text-align: right;
    box-sizing: border-box;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: black;
    display: none;
    padding-top:20px;
    
    
    
}
/* END OF NAV */




/* UNDER THE RED TILE ROOF*/
.homeHeader {
    font-size: 34px;
    color: red;
    padding-left: 50px;
}

.homeText {
    font-size: 20px;
}
.homeImgages {
    max-width:100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 60px;
    
    
}


.whoButton {
    text-align: center;
}

/* Homepage Services */
.servicesHome {
    font-size: 34px;
    padding-left: 50px;
    color: red;
}
.lineBreak {
    color:blue !important;
}
.columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

/* QUESTIONS */

.anyQuestions {
    font-size: 34px;
    color: darkred;
    text-align: center;
}
.phoneHome {
    color: black;
}
.phoneHome:hover {
    text-decoration: none;
    color: red;
}

















@media(max-width:990px) {

    .entrance {
        display: none;
    }
}
@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: white;
          
    }

    nav.black ul {
          background: white;
    }

    .showing {
          max-height: 18em;
          
          
          
    }
    
    nav ul li a {
        color: black;
        
    }
    nav ul li {
          box-sizing: border-box;
          width: 100%;
          color: white;
          text-align: center;
    }

    .menu-icon {
          display: block;
          color: black;
          
          
    }
    .redRoofText {
       
        
    }
   
   
    

}